.touch {
    font-size: 16px;
    line-height: 18px;
    font-style: normal;
    padding: 16px 50px;
    color: $violet;
    border: 1px solid $grey;
    border-radius: 22px;
    background: transparent;
    transition: all .3s;
    @media all and (max-width: 768px) {
        font-size: 14px;
        line-height: 16px;
        padding: 8px 25px;
    }
    &:hover {
        color: $white;
        border-color: $orange;
        background: $orange;
    }
}

.control-panel {
    display: flex;
    gap: 30px;
    @media all and (max-width: 768px) {
        display: none;
    }
    .arrow_prev,
    .arrow_next {
        transition: all .3s;
        cursor: pointer;
        &:hover {
            transition: all .3s;
            path {
                fill: $orange;
            }
        }
    }
}

.close,
.close-touch,
.close-job,
.menu-open {
    padding: 18px 20px 15px;
    border: 1px solid $grey;
    border-radius: 22px;
    width: max-content;
    cursor: pointer;
    background: transparent;
    height: max-content;
    svg {
        width: 13px;
        height: 13px;
    }
    @media all and (max-width: 768px) {
        padding: 8px 10px 5px;
    }
    &:hover {
        path {
            fill: $orange;
        }
    }
}