.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: $pink;
    &-header {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
}

.modal-touch {
    .green-lines,
    .yellow-red-ball,
    .blurball {
        position: absolute;
    }
    .green-lines {
        top: 20vh;
        right: -350px;
    }
    .yellow-red-ball {
        bottom: -220px;
        left: 100px;
    }
    .blurball {
        top: -150px;
        left: 350px;
    }
    .modal-content {
        display: flex;
        h3 {
            margin: unset;
            display: flex;
            padding-top: 16vh;
        }
        .modal-contact-info {
            .modal-contact-content {
                width: max-content;
                margin: auto;
                h3 {
                    margin-bottom: 50px;
                }
                p {
                    font-size: 16px;
                    line-height: 18px;
                }
                .modal-tel {
                    color: $dark;
                    text-decoration: none;
                    &:hover {
                        color: $orange;
                        text-decoration: underline;
                    }
                }
                .modal-email {
                    margin: 17px 0 0;
                    a {
                        font-size: 24px;
                        line-height: 26px;
                        font-weight: bold;
                        color: $orange;
                        transition: all .3s;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
                .modal-social-networks {
                    margin-top: 50px;
                    display: flex;
                    gap: 14px;
                    .social-item {
                        a {
                            display: inline-block;
                            padding: 16px 17px 14px;
                            background: $white;
                            border-radius: 20px;
                            transition: all .3s;
                            &:hover {
                                background: $violet;
                                box-shadow: 14px 23px 24px #0000001C;
                                svg {
                                    text {
                                        fill: $white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal-job {
    .container {
        padding: unset;
    }
    .modal-header {
        position: fixed;
        width: 100%;
        z-index: 99;
        padding: 0 80px;
    }
    .modal-content {
        .slick-track {
            display: flex;
            .slick-slide {
                display: flex;
                .job-item,
                .job-img {
                    height: 100vh;
                }
                .job-img {
                    width: 45%;
                    img,
                    svg {
                        height: 100%;
                        max-width: unset;
                    }
                }
                .job-item {
                    position: relative;
                    width: 55%;
                    padding: 18vh 80px 120px 0;
                    display: flex;
                    justify-content: flex-end;
                    .job-content {
                        max-width: 500px;
                        margin-right: 80px;
                        p {
                            color: $d-grey;
                            font-size: 15px;
                            margin: unset;
                            font-weight: 200;
                            line-height: 30px;
                        }
                        h2 {
                            color: $violet;
                            margin: 0 0 18px;
                        }
                        .job-vacancy {
                            font-size: 14px;
                            color: $orange;
                        }
                        .job-info {
                            display: flex;
                            gap: 50px;
                            margin-bottom: 40px;
                            .job-info-icon {
                                padding-left: 30px;
                                .p-title {
                                    &::after {
                                        content: '';
                                        background: url('../img/faq.svg') no-repeat;
                                        width: 18px;
                                        height: 18px;
                                        position: absolute;
                                        left: -30px;
                                        top: 0;
                                    }
                                }
                            }
                        }
                        .p-title {
                            position: relative;
                            color: $dark;
                            font-weight: 600;
                            line-height: 14px;
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
    .modal-footer {
        position: absolute;
        bottom: 120px;
        right: 80px;
        p {
            color: $d-grey;
            font-size: 14px;
            text-align: right;
            line-height: unset;
        }
        .control-panel {}
    }
}

.wpcf7 {
    &-form {
        p {
            margin: unset;
        }
        .wpcf7-not-valid-tip {
            position: absolute;
            font-size: 13px;
            line-height: 15px;
            color: #801515;
            margin-top: 5px;
        }
        .wpcf7-response-output {
            border: unset;
            position: absolute;
            margin: 10px 0 0;
            padding: unset;
            color: #801515;
        }
        label {
            position: relative;
            input,
            textarea {
                width: 100%;
                max-width: 418px;
                background: transparent;
                border: unset;
                border-bottom: 1px solid #E1E1E1;
                padding: 15px 0;
                color: #898989;
                font-family: $font;
                font-weight: normal;
                font-size: 15px;
                line-height: 17px;
                &:focus-visible {
                    border-color: unset;
                }
            }
            textarea {
                height: 100px;
                overflow: hidden;
                resize: none;
            }
        }
        input[type="submit"] {
            margin-top: 50px;
            padding: 16px 50px;
            color: $white;
            border: 1px solid $orange;
            border-radius: 22px;
            transition: all .3s;
            background: $orange;
            font-size: 16px;
            line-height: 18px;
            font-style: normal;
            cursor: pointer;
            &:hover {
                color: $orange;
                background: transparent;
                border-color: $orange;
            }
        }
    }
}