#masthead{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	padding: 15px;
	transition: .4s;
	&.sticky{
		position: fixed;
		top: 0;
	}
	&.sticky-up{
		top: -200px;
	}
	.wrapper{
		width: 100%;
		max-width: 1200px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.branding{
		display: flex;
		align-items: center;
	}

	.custom-logo-link{
		display: inline-block;
		width: 100%;
		max-width: 120px;
		margin-right: 25px;
	}
}