#masthead {
    z-index: 10;
    top: 60px;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu {
        display: flex;
        justify-content: center;
        gap: 50px;
        padding-left: 0;
        margin-bottom: 0;
        text-align: center;
        li {
            list-style-type: none;
            a {
                transition: all .3s;
                text-decoration: unset;
                color: $dark;
                font-size: 15px;
                line-height: 15px;
                font-style: normal;
                &:hover {
                    transition: all .3s;
                    color: $orange;
                }
            }
            .active {
                color: $orange !important;
            }
        }
    }
}