body {
    background-color: $pink;
}

.entry-content {
    section {
        overflow: hidden;
        position: relative;
    }
    .fp-tableCell {
        vertical-align: unset;
    }
}

blockquote {
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 0 80px;
    @media all and (max-width: 768px) {
        padding: 0 16px;
    }
}

.col-1 {
    flex-basis: 8.333%;
}

.col-2 {
    flex-basis: 16.666%;
}

.col-3 {
    flex-basis: 25%;
}

.col-4 {
    flex-basis: 33.333%;
}

.col-5 {
    flex-basis: 41.666%;
}

.col-6 {
    flex-basis: 50%;
}

.col-7 {
    flex-basis: 50%;
}

.col-12 {
    flex-basis: 100%;
}

@media all and (max-width: 768px) {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-12 {
        flex-basis: 100%;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
strong,
i,
span,
.btn {
    font-family: $font;
}