.banner {
    .banner-blockquote {
        .banner-content {
            text-align: center;
            h1 {
                max-width: 840px;
            }
            p {
                max-width: 484px;
            }
        }
    }
}