.home {
    &-blockquote {
        padding-top: 28vh;
        @media screen and (min-width: 1200px) and (max-width: 1440px) {
            padding-top: 18vh;
        }
        .home-content {
            max-width: 840px;
            margin: auto;
            position: relative;
            text-align: center;
            h1 {
                z-index: 4;
                max-width: 840px;
                margin: 0;
                position: relative;
                margin: auto;
                @media all and (max-width: 768px) {
                    max-width: 300px;
                }
            }
            .snake,
            .blurball,
            .yellowball,
            .figures {
                position: absolute;
            }
            .snake {
                top: 0;
                left: 0;
                z-index: 6;
                top: 70px;
                left: -600px;
                width: 855px;
                height: 400px;
                @media all and (max-width: 768px) {
                    display: none;
                }
            }
            .yellowball {
                top: 185px;
                left: -276px;
                z-index: 7;
                width: 480px;
                height: 480px;
                @media all and (max-width: 768px) {
                    display: none;
                }
            }
            .blurball {
                z-index: 3;
                width: 458px;
                height: 458px;
                right: -225px;
                top: -165px;
                @media all and (max-width: 768px) {
                    width: 50%;
                    height: auto;
                    right: 0;
                }
            }
            .figures {
                z-index: 3;
                right: -300px;
                @media all and (max-width: 768px) {
                    top: 40vh;
                    left: 6vh;
                }
                @media screen and (min-width: 1200px) and (max-width: 1440px) {
                    right: -200px;
                }
            }
            p {
                max-width: 484px;
                margin: auto;
                position: relative;
                z-index: 7;
                @media all and (max-width: 768px) {
                    margin-top: 10px;
                    max-width: 300px;
                }
            }
        }
    }
}