.jobs {
    background: url('../img/line-decoration.svg') no-repeat;
    background-size: auto;
    background-position-y: center;
    &-blockquote {
        padding-top: 10vh;
        @media all and (max-width: 768px) {
            padding-top: 7vh;
        }
        .jobs-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .jobs-content {
            .slick-track {
                display: flex;
                .jobs-item {
                    cursor: pointer;
                    transition: all .3s;
                    text-align: center;
                    @media all and (max-width: 768px) {
                        margin-top: 3vh;
                    }
                    p {
                        color: $orange;
                        font-size: 14px;
                        line-height: 15px;
                        margin: unset;
                        margin-top: 32px;
                    }
                    h4 {
                        font-weight: 600;
                        margin: unset;
                        margin-top: 10px;
                        margin-bottom: 24px;
                    }
                    &-plus {
                        svg {
                            cursor: pointer;
                        }
                    }
                    &:hover {
                        opacity: 0.8;
                    }
                }
                .central-item {
                    margin-top: 80px;
                }
            }
        }
    }
}