.teams {
    background: url('../img/line-decoration-teams.svg') no-repeat;
    background-size: auto;
    background-position-y: center;
    &-blockquote {
        padding-top: 10vh;
        @media screen and (min-width: 1200px) and (max-width: 1440px) {
            padding-top: 8vh;
        }
        .teams-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .control-panel {
                display: flex;
                gap: 30px;
                @media all and (max-width: 768px) {
                    display: none;
                }
                .arrow_prev_t,
                .arrow_next_t {
                    transition: all .3s;
                    cursor: pointer;
                    &:hover {
                        transition: all .3s;
                        path {
                            fill: $orange;
                        }
                    }
                }
            }
        }
        .teams-content {
            .slick-list {
                // overflow: hidden;
                .slick-track {
                    display: flex;
                    gap: 50px;
                    @media all and (max-width: 768px) {
                        gap: unset;
                    }
                    .teams-item {
                        cursor: pointer;
                        transition: all .5s;
                        margin-top: 80px;
                        text-align: center;
                        p {
                            color: $orange;
                            font-size: 14px;
                            line-height: 15px;
                            margin: unset;
                            margin-top: 32px;
                        }
                        h4 {
                            font-weight: 600;
                            margin: unset;
                            margin-top: 10px;
                            margin-bottom: 24px;
                            @media all and (max-width: 768px) {
                                margin-bottom: 10px;
                            }
                        }
                        &:hover {
                            opacity: 0.8;
                        }
                        .item-about {
                            display: none;
                            font-size: 15px;
                            line-height: 17px;
                            color: $d-grey;
                            max-width: 464px;
                            margin: 0 auto;
                        }
                        .item-social-links {
                            display: none;
                            margin-top: 24px;
                            justify-content: center;
                            gap: 23px;
                            svg,
                            img {
                                max-width: 20px;
                                &:hover {
                                    text {
                                        fill: $orange;
                                    }
                                }
                            }
                        }
                    }
                    .slick-current {
                        margin-top: 0;
                        .item-about {
                            display: block;
                        }
                        .item-social-links {
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}